body {
    background-color: #9CC69B;
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    max-width:950px; 
    align-items: center;
  }
  
  h1 {
    
    font-family: "Playfair Display", Georgia, Serif;
    font-weight: 700;
    font-size: 32px;
    align-items: center;
    
  }
  
 

     
  header {
      display: grid;
      grid-template-columns: 300px 200px 1fr;
      background-color: #676F54;  
      align-items: center;
      justify-items: center;
      margin: 0 5em;
  }
  
  
  
  nav ul {
    list-style: none; /* removes the bullets! */
    display: grid;
        grid-template-columns: auto;
        gap: 30px;
        margin: 0 15em;
        align-items: center;
        justify-items: center;
        padding: 1em;
        border-style: double;
        border-width: 5px;
        border-color: #000000;
 } 
  
  nav a {
      color: #fdfffa;
        font-family: "Raleway", "Times New Roman", sans-serif;
        font-size: 1.1em;
        padding: 1em;
   }
  
  
  nav a:hover {
      color: #D7F2BA;
      background-color: #79b4a9;
  }
  
  
  footer {
      height: 95px;
      background-color: #676F54;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      font-family: "Raleway", "Times New Roman", sans-serif;
  padding: 1em;
    margin: 0 5em;
  }
  
  
  