@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #9CC69B;
    font-family: "Raleway", "Times New Roman", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
  }
  
  h1 {
    
    font-family: "Playfair Display", Georgia, Serif;
    font-weight: 700;
    font-size: 32px;
    
  }
  
 
  
  
  #content {
  max-width:1386px; 
  margin:0 auto;        
  background-color: #9CC69B;
  color: #000000;
  }
  
     
  header {
      display: grid;
      grid-template-columns: 400px 200px 1fr;  
      align-items: center;
      justify-items: center;
  }
  
  
  
  nav ul {
      list-style: none; /* removes the bullets! */
      display: grid;
      grid-template-columns: 2fr(auto-fit, minmax(9em, 1fr));
      gap: 30px;
      margin: 0;
      background-color: #676F54;
      border: 1px solid #9CC69B;
      align-items: center;
      justify-items: center;
      padding: 1em;
  }
  
  nav a {
      color: #D7F2BA;
        font-family: "Raleway", "Times New Roman", sans-serif;
        font-size: 1.1em;
        padding: 1em;
   }
  
  
  nav a:hover {
      color: #D7F2BA;
      background-color: #79B4A9;
  }
  
  
  footer {
      height: 95px;
      background-color: #9CC69B;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      font-family: "Raleway", "Times New Roman", sans-serif;
  padding: 1em;
  }
  
  
  